<form [formGroup]="nutritionForm">
  <div class="row">
    <div class="col-sm-12 py-3">
      <textarea
        name="recipe"
        cols="30"
        rows="10"
        class="form-control"
        formControlName="recipeName"
      ></textarea>
    </div>
    <div class="col-sm-12 text-center">
      <p>
        <button
          type="button"
          class="btn btn-success"
          [disabled]="!nutritionForm.valid"
          (click)="saveNutrition()"
        >
          Analyze
        </button>
        <button
          type="button"
          class="btn btn-primary mx-2"
          (click)="clearNutrition()"
        >
          New recipe
        </button>
      </p>
    </div>
  </div>
</form>
